<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="Tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="true"
        timeoutForSmallTests="60"
        timeoutForMediumTests="60"
        timeoutForLargeTests="120"
        beStrictAboutTestSize="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>Tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
         <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Scraper</directory>
            <file>Scraper/**</file>
         </whitelist>
    </filter>
</phpunit>
